SECRET_KEY=REPLACE_ME
DEBUG=False
REGISTRATION_OPEN=True

DATA_PATH=/var/lib/stdweb/data
TASKS_PATH=/var/lib/stdweb/tasks
STATIC_ROOT=/var/lib/stdweb/static

STDPIPE_HOTPANTS=/usr/local/bin/hotpants
STDPIPE_SWARP=/usr/local/bin/swarp
